*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    min-width: 100vw;
}
#board{
    width: 450px;
    height: 450px;
    background-color: rgb(46, 46, 47);
    box-shadow: 0 0 10px rgb(137, 135, 135);
}
.tile{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: whitesmoke;
}
.horizontal-line{
    border-bottom: 3px solid black;
}
.vertical-line{
    border-right: 3px solid black;
}
.winner{
    background-color: rgb(21, 219, 21);
    color: black;
}
.draw{
    background-color: rgb(255, 28, 54);
}